<!DOCTYPE html>
<html lang="EN">
  <head>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title></title>
    <link rel="stylesheet" href="" />
  </head>
  <body>
    <!-- A grey horizontal navbar that becomes vertical on small screens -->
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <!-- Links -->
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/newjournal">New Journal</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/journals">Journals</a>
        </li>
      </ul>
    </nav>
    <div style="padding-bottom: 50px"></div>
    <div
      class="container shadow-lg p-4 mb-4 bg-white rounded"
      style="padding-left: 200px; padding-right: 200px"
    >
      <h1 style="padding-top: 30px; padding-bottom: 40px">Experience</h1>
      <form method="POST" action="{{url_for('addJournal')}}">
        <div class="row">
          <div class="col-sm-1">
            <lable>Date:</lable>
          </div>
          <div class="col-sm-4">
            <input
              type="text"
              id="date"
              name="date"
              placeholder="Enter date"
              class="form-control form-control-sm"
            />
          </div>
          <div class="col-sm-1">
            <lable>Title:</lable>
          </div>
          <div class="col-sm-6">
            <input
              type="text"
              id="title"
              name="title"
              placeholder="Title here"
              class="form-control form-control-sm"
            />
          </div>
        </div>
        <div class="row">
          <div class="col-sm-1"><label>Author:</label></div>
          <div class="col-sm-3">
            <input
              type="text"
              id="author"
              name="author"
              placeholder="Your Author"
              class="form-control form-control-sm"
            />
          </div>
          <div class="col-sm-1"><label>Tag:</label></div>
          <div class="col-sm-3">
            <input
              type="text"
              id="tag"
              name="tag"
              placeholder="Enter Your Tag"
              class="form-control form-control-sm"
            />
          </div>
          <div class="col-sm-1"><label>Emotion:</label></div>
          <div class="col-sm-3">
            <!--<input
              type="text"
              id="emotion"
              name="emotion"
              placeholder="How are you feeling?"
              class="form-control form-control-sm"
            />-->
            <select name="emotion" class="form-control form control-sm">
              <option selected>Select emotion</option>
              <option value="Happy">Happy</option>
              <option value="Sad">Sad</option>
              <option value="Tired">Tired</option>
              <option value="Normal">Normal</option>
              <option value="Anxious">Anxious</option>
              <option value="Calm">Calm</option>
              <option value="Bored">Bored</option>
              <option value="Energized">Energized</option>
              <option value="Confident">Confident</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <label>Entry:</label>
            <textarea
              class="form-control form-control-sm"
              rows="10"
              od="content"
              name="content"
            ></textarea>
          </div>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Save</button>
      </form>
    </div>
  </body>
</html>
